.modal{
  position:absolute;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  top: 0;left: 0;
  display: none;
}
.modalContent{
  width:800px; height:100%;
  background:#fff; border-radius:10px;
  position:absolute; top:0%; left:40%;
  margin-top:0px; margin-left:-200px;
  text-align:center;
  box-sizing:border-box; padding:74px 0;
  line-height:23px; cursor:pointer;
}
table {
  border-collapse: collapse;
  width: 100%;
}